<ul class="title">
  <li><a href="/">Randy Baek</a></li>
</ul>
  
<ul class="main-navigation">

  <li class="other"><a href="{{ root_url }}/">Blog</a></li>
  <li class="other"><a target="_blank" href="http://linkedin.com/in/randybaek">About</a></li>
  <li class="other"><a target="_blank" href="http://randybaek.tumblr.com/">Korean</a></li>
</ul>


  {% if site.simple_search %}
<form action="{{ site.simple_search }}" method="get">
  <fieldset role="search">
    <input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}" />
    <input class="search" type="text" name="q" results="0" placeholder="Search"/>
  </fieldset>
</form>
  {% endif %}
{% include custom/navigation.html %}


